.postulationCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 200px;
    border: 1px solid #2E1A47;
 
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px #00000020;
    
}

.postulationCard ul  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    list-style: none;
    
    padding: 0;
}
.postulationCard ul li input{
    height: 30px;
    border-radius: 10px;
    border:1px solid #00000020;
    padding: 5px;
}
.postulationCard ul li button{
    height: 30px;
    width: 100px;
    background-color: #E8A317 ;
    border-radius: 50px;
}
.postulationCard ul li button:hover{
   
    background-color: #EFC230 ;
      cursor: pointer;

}